
body {
    font-family: "Roboto";
    background-color: #1F2937;   
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/*Text Classes*/
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0%;
}

.hero-secondary-text{
    font-size: 18px;
    color: #F9FAF8;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic
}

.placeholder-img-text {
    color: #F9FAF8;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

/*Flex classes*/
.flex-header  {
    display: flex;   
    justify-content: space-evenly;
}

.flex-header .flex-logo {
    margin: auto;
}

.flex-header .flex-links {
    margin: auto;
}

.flex-main-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.flex-main-content-column {
    flex-direction: column;
    width: 330px;
    height: 300px;
}

.flex-main-content-column .main-content-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    width: 120px;
    height: 34px;
}

.main-content-button:hover{
    background-color: #2b5fb4;
}

.flex-main-content-image-column {
    flex-direction: column;
    background-color: #b1b1b1b7; 
    width: 500px;
    height: 240px;
    margin-top: 40px;
    justify-content: center;
}

.quote-box {
    display: flex;
    background-color: #E5E7EB;
}